<%-include("head/head")%>
<body>
    <div class="container">
      <div class="row">
          <%let cont = 0%>
        <%rowss.forEach(function(item){%>
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
              <div class="card-body p-4 p-sm-5">
               
                  <h5 class="card-title text-left mb-2 fw-light fs-5">Objetivo N°<%=cont +=1%>:<%=item.objetivoE%></h5>
                  <h5 class="card-title text-left mb-2 fw-light fs-5">tarea:<%=item.tarea%></h5>
                 <form action="/DeleteOE/<%=item.id%>" method="POST">
                    <div class="d-grid">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                         Borrar Objetivo especifico
                          </button>
                      </div>
                 </form>
              
      
               
              </div>
            </div>
          </div>
        <%})%>

      </div>
    </div>
  </body>
</html>